*{
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	height: 100%;
	background: #e96443;
	color: white;
}

#location {
	display: flex;
	border: none;
	background: rgba(255,255,255, .5);
	border-radius: 10px;
	padding: 10px;
	color: white;
	outline: none;
	width: 100%;
	font-style: 30px;
	margin-top: 10px;
}

#location::placeholder {
	color: rgba(255, 255, 255, .5);
}

#show {
	display: block;
	border: none;
	margin-top: 15px;
	background: #16BFFD;
	border-radius: 10px;
	padding: 10px;
	color: white;
	outline: none;
	width: 100%;
	font-style: 20px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

#show:hover{
	opacity: .9
}

.content {
	padding: 20px 0	;
	max-width: 100%;
	margin: 0 auto;
}

.tabs-wrapper{
	display: flex;
}

.tabs{
	cursor: pointer;
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	width: 20%
}
.tabs-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%
}
.tab-item{
	display: flex;
}


.tab{
	color: #000;
	padding: 10px;
	background-color: white;
}

.tab img{
	width: 40px;
}

.tabs-wrapper .active { color: red; background-color: yellow; }